p {
    font-family: Lato;
}

input.form-control.searchText {
    padding-left: 30px;
}

.btn.btn-outline-primary:hover {
    background: var(--primary-light);
}

.modal-body {
    width: auto;
    padding: 0;
}

.accordion-container {
    max-height: 55vh;
    overflow-y: auto;
    display: block;
}

.modal-header {
    border-bottom: none;

    h2 {
        font-size: 1.0rem;
        margin-bottom: 0px;
        padding-top: 4px;
    }

    span {
        padding: 4px 6px;
    }
}

ul.table-header {
    list-style: none;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    padding-left: 11px;
    font-weight: bold;
    font-size: 1em;
    background: #f8f8f8;
    border-bottom: solid thin #d8d8d8;
    color: #292929;

    li {
        width: 122px;
        display: inline-block;
        padding: 7px 7px 7px 7px;
    }

    span.badgeCount {
        font-size: 1.2em;
    }

    li.expand-icon {
        width: 24px;
        display: inline-block;
        cursor: pointer;
        margin-right: 7px;
        font-size: 1rem;

        span {
            color: var(--primary-light);
        }
    }

    li.date {
        width: 100px;
    }

    li.name {
        width: 367px;
    }

    li.results {
        width: 110px;
    }
}

div.alert.alert-danger {
    margin-bottom: 0;
    padding-left: 22px;

    h4 {
        font-size: 1.0rem;
    }
}

#basic-addon-filter > i {
    width: 30px;
    font-size: 2rem;
}

.btn.btn-danger {
    background: var(--danger-base);
}
