div.jumbotron {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

div {
  text-align: center;
}

.backMap {
  background-image: url("https://risanb.com/static/bdf9f639e5b00eccb3dd469bb2cbb844/e735c/default-marker.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;
  width: 100%;
  opacity: 1;
}
