div.jumbotron {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

div {
  text-align: center;
}

.backMap {
  background-image: url("https://lh3.googleusercontent.com/-bQzIWFMAYus/WXy3WDcphBI/AAAAAAAAAMs/unOi6HiEoi4VWaM0WiP5q32q9zDbIhUvwCLcBGAs/s1600/7-29-2017%2B11-14-59%2BAM.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;
  width: 100%;
  opacity: 1;
}
