
	<div class="card m-3">
		<h5 class="card-header">Angular 8 Template-Driven Form Validation</h5>
		<div class="card-body">

			<form name="form" novalidate class="ng-invalid" (ngSubmit)="(f.form.valid && onSubmit())" #f="ngForm">
				<div class="form-row">
					<div class="form-group col">
						<label>Title</label>
            <select class="form-control" name="title" required  [(ngModel)]="form.title">
              <option value="" ng-reflect-value=""></option>
              <option value="Mr" ng-reflect-value="Mr">Mr</option>
              <option value="Mrs" ng-reflect-value="Mrs">Mrs</option>
              <option value="Miss" ng-reflect-value="Miss">Miss</option>
              <option value="Ms" ng-reflect-value="Ms">Ms</option>
            </select>

					</div>
					<div class="form-group col-5">
            <label>First Name</label>
            <input class="form-control" name="fname" required type="text" [(ngModel)]="form.fname" #fname="ngModel"
            >
            <div class="form-control-feedback" *ngIf="f.submitted && fname.invalid">
              <span class="text-danger">First Name is required</span>
            </div>
					</div>

					<div class="form-group col-5">
            <label for="lname">Last Name</label>
            <input id="lname" class="form-control" [(ngModel)]="form.lname" name="lname">
					</div>
				</div>

				<div class="form-group">
          <label>Email</label>
        <input class="form-control ng-invalid" email="" name="email" required type="text" [(ngModel)]="form.email">

				</div>
			
				<div class="form-group form-check">
					<input class="form-check-input" id="acceptTerms" name="acceptTerms" required type="checkbox" [(ngModel)]="form.acceptTerms">
          <label class="form-check-label" for="acceptTerms">Accept Terms &amp; Conditions</label>
				</div>
				<div class="text-center">
					<button 
            tooltip="Register"   
            type="submit"
            placement="left"        
            class="btn btn-primary mr-1">Register
          </button>
          <button class="btn btn-secondary" type="reset">Cancel</button>
				</div>
      
			</form>
		</div>
	</div>