<section>
    <form (ngSubmit)="submitForm(f)" #f="ngForm">
        <div class="card">
            <!-- Accordion Items -->
            <ul class="card-header" (click)="!editing ? (isCollapsed = !isCollapsed) : null">
                <li>
                    <button
                        type="button"
                        class="btn fa fa-chevron-right"
                        [ngStyle]="{ transform: isCollapsed ? '' : 'rotate(90deg)' }"
                    ></button>
                </li>

                <li>{{ savedSearch.datetime_updated | date }}</li>
                <li>
                    <span *ngIf="!editing; else editName" class="name" role="button" style="color: #292929">
                        {{ inputName || savedSearch.name }}
                    </span>

                    <!-- Edit savedSearch input -->
                    <ng-template #editName>
                        <input
                            [(ngModel)]="form.inputName"
                            #inputName="ngModel"
                            name="inputName"
                            required
                            autocomplete="off"
                            size="35"
                            [ngClass]="f.form.invalid ? 'edit-name-invalid' : 'edit-name'"
                            [ngStyle]="{ background: inputName === '' ? 'red' : '' }"
                            [value]="f.form.invalid ? 'Name is required' : form.inputName"  
                        />
                    </ng-template>
                </li>
                <li>
                    <span>{{ savedSearch.result_count | number }}</span>
                </li>
                <li (click)="loadOverlays()">
                    <button type="button" class="btn btn-outline-primary btn-xs">
                        LOAD
                    </button>
                </li>
            </ul>

            <!-- Accordion Hidden Content Starts Here -->
            <div [collapse]="isCollapsed" [isAnimated]="true">
                <div class="card-body">
                    <div class="description-container">
                        <!-- Notifications -->
                        <nav class="user-nav">
                            <input
                                #inputNotifications="ngModel"
                                [id]="this.savedSearch.name"
                                [(ngModel)]="form.inputNotifications"
                                name="inputNotifications"
                                autocomplete="off"
                                type="checkbox"
                                [checked]="inputNotifications"
                                (change)="submitForm('checkbox')"
                            />
                            <label [for]="this.savedSearch.name" style="margin-left: 0.5rem; color: #000">
                                Receive notifications
                            </label>
                        </nav>

                        <!-- Description View -->
                        <h4 class="desc_subtitle">Description:</h4>
                        <div class="description">
                            <ng-template #Description>
                                <div
                                    class="description"
                                    innerHTML="{{ form.inputDescription }}"
                                ></div>
                            </ng-template>

                            <!-- Description Editing -->
                            <div *ngIf="editing; else Description">
                                <textarea
                                    #textArea="ngModel"                                   
                                    [(ngModel)]="form.inputDescription"
                                    name="inputDescription"                                                               
                                    [rows]="
                                        savedSearch.description &&
                                        savedSearch.description.length < 200 
                                        ? 2
                                        : savedSearch.description.length > 200 &&
                                          savedSearch.description.length < 499
                                            ? 7
                                            : savedSearch.description.length > 500
                                            ? 9
                                            : 5                                          
                                    "
                                    cols="78"
                                    class="textarea-edit"
                                    style="overflow-y: 'scroll'"
                                    >{{ form.inputDescription }]</textarea
                                >
                            </div>
                        </div>

                        <div class="divider"></div>

                        <!-- EditMode Buttons -->
                        <footer class="edit-mode-footer">
                            <button
                                class="btn btn-secondary btn-xs"
                                type="button"
                                *ngIf="!editing"
                                (click)="toggleEditing()"
                            >
                                <i class="fa fa-edit" (click)="toggleEditing()"></i>
                                EDIT
                            </button>

                            <button
                                *ngIf="editing"                                
                                class="btn btn-success btn-xs"
                                type="submit"
                                [disabled]="f.form.invalid"
                            >
                                <i class="fa fa-save" (click)="toggleEditing()"></i>
                                SAVE CHANGES
                            </button>
                            &nbsp;                       
                            <button
                                *ngIf="editing"
                                (click)="this.disableEditing()"
                                class="btn btn-primary btn-xs"
                                type="button"
                            >
                                <i class="fa fa-close"></i> CANCEL
                            </button>
                            <button
                                (click)="deleteItem()"
                                class="btn btn-danger btn-xs pull-right float-right"
                                type="button"
                            >
                                <i class="fa fa-trash"></i> DELETE
                            </button>
                        </footer>

                        <br/>
                        <div class="alert alert-info">
                          <h4>
                            Form Values:
                          </h4>
                          <div>
                            <p>{{ form.inputName }}</p>
                            <p>{{ form.inputNotifications }}</p>
                            <p>{{ form.inputDescription }}</p>  
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
